<style>

section.homepage-image-banner {
  position: relative;
  display: block;
  width: 100%;
  height: 280px;
  margin: 0 auto;
  --n: 4; /** number of images */
  --a: 3; /** display time */
  --b: 2; /** fade **/
  --duration: calc((var(--a) + var(--b)) * var(--n));
  --delay: calc(var(--a) + var(--b));
}
  #pic-1 {
    animation-delay: 0s;
    background-image:url('{{ section.settings.image | img_url: 'master' }}');
  }
  #pic-2 {
    background-image:url('{{ section.settings.image_2 | img_url: 'master' }}');
    animation-delay: 5s;
  }
  #pic-3 {
    background-image:url('{{ section.settings.image_3 | img_url: 'master' }}');
    animation-delay: 10s;
  }

  #pic-4 {
    background-image:url('{{ section.settings.image_4 | img_url: 'master' }}');
    animation-delay:  15s;
  }

  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    animation: fade 20s infinite;
  }
  
  .strapline {
    position: absolute;
    background: hsla(0, 100%, 100%, 0.8);
    padding: 0.5rem 1rem;
    left: 1rem;
    font-size: 1.8rem;
    font-weight: 900;
    bottom: 1rem;
    line-height: 1.9rem;
    color: var(--darkblue400)
  }

  .pinkdot {
    display: inline-block;
    border-radius: 0.5rem;
    width: 0.5rem;
    background: var(--pink500) ;
    height: 0.5rem;
    bottom: 0.8rem;
    position: absolute;
    margin-left: 0.1rem;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 750px) {
  section.homepage-image-banner {
    height: 480px;
  }

  #pic-2 {
    background-position: center;
    background-position: 0% 42%;
  }

  #pic-3  {

    background-position: 0% 22%;
  }

  #pic-4{
    background-position: 0% 12%;
  }
}
</style>

<section class="homepage-image-banner">

  {%- if section.settings.image_4 != blank -%}
      <div class="banner-image" id="pic-4">
        <div class="strapline">Be you<span class="pinkdot"></span></div>
      </div>
  {%endif 
  -%}   
  {%- if section.settings.image_3 != blank -%}
      <div class="banner-image" id="pic-3">
        <div class="strapline">Celebrate uniqueness<span class="pinkdot"></span></div>
      </div>
    {%endif 
    -%}   

    {%- if section.settings.image_2 != blank -%}
      <div class="banner-image" id="pic-2">
        <div class="strapline">Inspire confidence<span class="pinkdot"></span></div>
      </div>
    {%endif 
    -%}   
    {%- if section.settings.image != blank -%}
      <div class="banner-image" id="pic-1">
        <div class="strapline">
          Contemporary <br /> jewellery<span class="pinkdot"></span>
        </div>
    </div>
  {%endif 
  -%}   
 
</section>
{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "t:sections.image-banner.settings.image_3.label"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "t:sections.image-banner.settings.image_4.label"
    }
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
