.newsletter__wrapper {
  margin-top: 8rem;
  margin-bottom: 6rem;
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
 padding: 2rem;
  .text-bg {
    background: rgba(255, 255, 255, 0.901);
    /* margin: 2rem 0rem; */
    min-height: 15rem;;
    padding: 2rem;
    color: #000;
    width: 50%;
  }

  .form-grid {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    label {
      text-align: left;
    }

    input {
      height: 2.7rem;
      padding: 0 0.5rem;
    }

    input:focus-visible {
      outline: 0.1rem solid var(--pink200);
      outline-offset: 0.1rem;
      box-shadow: none;
    }

    button {
      height: 2.7rem;
      align-self: end;
    }
  }
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  /* margin-top: 3rem; */
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  /* margin-top: 1.5rem; */
}

.newsletter__button {
  /* margin-top: 3rem; */
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
